@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap");

//colors
$dark-grey: #858585;
$text-grey: #787878;
$disable-gray: #f9f9f9;
$error-red: #c70014;
$turquoise: #00a5b6;
$light-blue: #248afd;
$light-green: rgb(46, 196, 9);
$light-green2: #cbf6d5;
$deep-green: rgb(54, 119, 38);
$light-yellow: #f9efc2;
$light-blue2: #3771dfaf;
$transparent-blue: #f2faff;
$light-red: #e0a5ab;
$perfect-white: white;
$scandinavian-gray: rgb(216, 215, 215);

//fonts & font-sizes
$label-size: 14px;
$open-sans: "Open Sans";

//shadows
$auth-form-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
  rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

//border-radius
$auth-border-radius: 7px;
